body {
  font-family: roboto mono,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: #6957FF;
  height: 100vh;
}

header #particles-js {
  height: 100%;
  width: 100%;
}

nav {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 13vh;
  justify-content: space-between;
  align-items: center;
}

nav .links {
  display: flex;
  height: 100%;
}

nav .links li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

nav .links li a {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
}

nav .links li a:hover {
  color: #58E4D2;
}

nav .logo {
  margin: 0 10px;
  color: white;
  flex-grow: 1;
  padding: 2px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
}

nav .ham {
  display: none;
  color: #6881a9;
  margin: 0 10px;
  height: 60%;
  border-radius: 6px;
}

nav .links a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 400;
  text-transform: capitalize;
}

.hampopup {
  position: absolute;
  display: flex;
  top: 13vh;
  height: 30vh;
  width: 100%;
  height: 0;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  flex-direction: column;
  color: #6881a9;
  background-color: #fff;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: all;
  box-shadow: 0 13px 19px -9px rgba(0, 0, 0, 0.75);
}

.hampopup a {
  text-decoration: none;
  color: #6881a9;
  display: block;
  width: 90%;
  height: 10vh;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
}

.hampopup a:hover {
  color: #58E4D2;
}

.terminalem {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 60vh;
}

.terminalem .window {
  width: 100%;
  height: 100%;
  margin: 0 auto 2rem;
  box-shadow: 0 0.25rem 0.5rem #12181e;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.terminalem .bar {
  background: rgba(0, 0, 0, 0.8);
  height: 10%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.terminalem .btn, .terminalem .btn::before, .terminalem .btn::after {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.terminalem .btn {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;
  top: 12px;
}

.terminalem .btn::before, .terminalem .btn::after {
  content: " ";
  position: absolute;
}

.terminalem .btn::before {
  background: #f55551;
  margin-left: -20px;
}

.terminalem .btn::after {
  background: #32c146;
  margin-left: 20px;
}

.terminalem .body {
  height: 90%;
  background: rgba(0, 0, 0, 0.6);
  padding: 18px;
  box-sizing: border-box;
  border-radius: 0 0 0.5rem 0.5rem;
}

.terminalem .body pre {
  margin: 0;
}

.terminalem .body .pulse {
  -webkit-animation: pulse 1s ease-in-out infinite;
  -moz-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.terminalem .command {
  color: #32c146;
}

.terminalem .comment {
  color: white;
}

@media screen and (max-width: 768px) {
  nav {
    position: absolute;
    background: linear-gradient(to bottom, #f6faff 0%, #f6faff 49%, #f6faff 53%, #f6faff 100%);
    color: black;
  }
  nav .links {
    display: none;
  }
  nav .logo {
    display: flex;
    padding: 2px;
    color: #6881a9;
  }
  nav .ham {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    width: 8%;
  }
  .hamactive {
    height: 40vh;
    transition: 0.3s linear;
  }
}
/*# sourceMappingURL=styles.css.map */